<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<section>
    <div class="container p-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center fs-4">Register</div>
                    <div class="card-body">
                        <form th:action="@{/auth/register}" th:object="${userCreateForm}" method="post">
                            <div th:if="${#fields.hasAnyErrors()}">
                                <p class="text-center text-danger" th:each="err : ${#fields.allErrors()}" th:text="${err}"></p>
                            </div>
                            <div class="mb-3">
                                <label>ID</label> <input type="text" name="username" id="username" class="form-control" th:field="*{username}" required>
                            </div>
                            <div class="mb-3">
                                <label>Password</label> <input type="password" name="password" id="password" class="form-control" th:field="*{password}" required>
                            </div>
                            <div class="mb-3">
                                <label>Password-Check</label> <input type="password" name="password-check" id="password-check" class="form-control" th:field="*{passwordCheck}" required>
                            </div>
                            <div class="mb-3">
                                <label>Email</label> <input type="email" name="email" id="email" class="form-control" th:field="*{email}" required>
                            </div>
                            <div class="mb-3">
                                <label>Phone</label> <input type="text" name="phone" id="phone" class="form-control" th:field="*{phone}" required>
                            </div>
                            <div class="mb-3">
                                <label>Address</label> <input type="text" name="address" id="address" class="form-control" th:field="*{address}" required>
                            </div>
                            <input class="btn btn-outline-success col-md-12" type="submit" value="Register" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>